<!-- diary/index.html -->
{% extends 'base.html' %}

{% block title %}Tour | 日记{% endblock %}

{% block mainbody %}
<div class="container">
  <div class="container m-auto w-50 my-5 ">
    <!--搜索框-->
    <div class="input-group input-group-lg mb-2">
      <select id="diary-search-type" class="form-select" style="max-width: fit-content">
        <option value="日记名称">日记名称</option>
        <option value="游学地名称">游学地名称</option>
        <option value="全文搜索">全文搜索</option>
      </select>
      <input type="text" id="dest-search" class="form-control" placeholder="搜索日记">
      <button class="btn btn-outline-secondary" type="button" onclick="">搜索</button>
    </div>
    <!-- 排序 -->
    <div class="input-group">
      <select id="dest-sort" class="form-select bg-white border-0 no-outline" style="max-width: fit-content">
        <option value="综合">综合排序</option>
          <option value="热度最高">热度最高</option>
          <option value="评分最高">评分最高</option>
      </select>
    </div>
  </div>
<!--日记展示-->
  {% if diaries %}
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for diary in diaries %}
      {% include 'diary/diary_card.html' %}
    {% endfor %}
      
  </div>
  {% else %}
  <p>No diarys.</p>
</div>   

{% endif %}
{% endblock %}