.hover-shadow {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    transition: box-shadow 0.5s ease-in-out;
}
.hover-shadow:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.full-width {
    min-width: fit-content;
}

.truncate-lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.location-list {
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 100%;
    left: 0;
    opacity: 0.9;
    background-color: rgba(255, 255, 255, 0.8);
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    max-width: 50%;
    overflow-y: auto;
    padding: 20px;
    
    /* z-index: -1; */
}

#sidebar-nav {
    padding-top: 70px;
}

/* 当屏幕宽度小于等于800px时，改变侧边栏的位置和大小 */
@media (max-width: 800px) {
    #sidebar {
        position: fixed;
        left: 0;
        /* 改变为左侧固定 */
        right: auto;
        /* 移除右侧固定 */
        top: auto;
        /* 自动调整，以便底部对齐 */
        bottom: 0;
        width: 100%;
        /* 宽度变为全屏 */
        max-width: 100%;
        height: 40%;
        /* 高度变为原来的一半 */
        padding: 20px;
    }
    #sidebar-nav {
        padding-top: 0px;
    }
}

.no-outline:focus {
    outline: none !important;
    /* border: none !important; */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

