<!-- travel/index.html -->
{% extends 'base.html' %}

{% block title %}Tour | 游学{% endblock %}

{% block mainbody %}

<div class="container">
  <div class="container m-auto w-50 my-5 ">
    <!--搜索框-->
    <div class="input-group input-group-lg mb-2">
      {% comment %} <select id="dest-search-type" class="form-select" style="max-width: fit-content">
        <option value="">名称</option>
        <option value="">类别</option>
      </select> {% endcomment %}
      <input type="text" id="dest-search" class="form-control" placeholder="搜索游学地">
      <button class="btn btn-outline-secondary" type="button" onclick="">搜索</button>
    </div>
    <!-- 排序 按类别筛选-->
    <div class="input-group">
      <select id="dest-sort" class="form-select bg-white border-0 no-outline" style="max-width: fit-content">
        <option value="综合">综合排序</option>
          <option value="热度最高">热度最高</option>
          <option value="评分最高">评分最高</option>
      </select>
      <select id="catagory-filter" class="form-select bg-white border-0 no-outline" style="max-width: fit-content">
          <option value="所有类别">所有类别</option>
          {% for catagory in catagories %}
          <option value="{{ catagory }}">{{ catagory }}</option>
          {% endfor %}
      </select>
    </div>
  </div>
  <!--游学地展示-->
  {% if dests %}
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    {% for dest in dests %}
      {% include 'travel/dest_card.html' %}
    {% endfor %}
      
  </div>
  {% else %}
  <p>No dests.</p>
</div>   

{% endif %}
{% endblock %}